* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 62.5%;
  min-width: 25em;
}

header {
  font-family: "Raleway", sans-serif;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.flex-center {
  align-items: center;
  justify-content: center;
}

/* Navigation */
.navigation {
  justify-content: space-between;
  padding: 2em 4em;
}

.nav-items {
  gap: 4em;
  font-size: 1.3em;
  align-items: center;
}

.nav-items p {
  cursor: pointer;
  color: hsl(238, 22%, 44%);
  font-weight: 500;
}

.logo {
  height: 4em;
  align-items: center;
  cursor: pointer;
}

/* Header Content */

.header-content {
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  margin: 4em 10em;
}

.header-content img {
  max-width: 100%;
}

.header-text {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.heading-primary {
  font-size: 4em;

  color: hsl(243, 87%, 12%);
}

.p-header {
  color: hsl(238, 22%, 44%);
  font-size: 1.8em;
  max-width: 70%;
  font-weight: 700;
  text-align: justify;
  word-spacing: 0.1em;
}

.get-started {
  gap: 1em;
}

.get-started input {
  width: 30%;
  padding: 1em;
  border-radius: 0.3em;
  border: 1 px solid hsl(243, 87%, 12%);
}

.btn {
  background-color: hsl(224, 93%, 58%);
  color: white;
  font-weight: 700;
  width: 20%;
  border: none;
  border-radius: 0.3em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
}

/* Main */
.img1 {
  width: 100%;
  margin-top: 14em;
  margin-bottom: -1em;
}

.main-content-1 {
  grid-template-columns: 1fr 1fr;
  background-color: #f9f8fe;
  padding: 4em 0;
  align-items: center;
}

.main-content-1 img {
  max-width: 100%;
}

.main-content-1-text {
  flex-direction: column;
  gap: 2em;
  margin: 4em 10em;
}

.p-text {
  color: hsl(238, 22%, 44%);
  font-size: 1.8em;
  max-width: 70%;
  font-weight: 500;
  text-align: justify;
  font-family: "Open Sans", sans-serif;
  word-spacing: 0.1em;
}

.link {
  color: hsl(170, 45%, 43%);
  font-size: 1.8em;
  text-decoration-line: underline;
}

.section-quotes {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 4em;
  max-width: 50%;
}

.p-quotes {
  font-size: 1.5em;
  margin: 1em 0;
}

.quotes-owner img {
  border-radius: 50%;
  width: 5em;
  height: 5em;
}

.quotes-owner p:first-child {
  color: hsl(238, 22%, 44%);
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  font-size: 1.4em;
}

.quotes-owner p:last-child {
  color: hsl(238, 22%, 44%);
  font-family: "Raleway", sans-serif;
  font-size: 1.2em;
  margin: 0.5em 0;
}

.quotes-owner {
  align-items: center;
  gap: 2em;
}

.main-content-2 {
  grid-template-columns: 1fr 1fr;
  background-color: #575989;
  padding: 8em 5em;
  align-items: center;
  justify-items: flex-start;
}

.main-content-2 h2 {
  color: white;
  font-size: 2.5em;
}

.main-content-2 p {
  max-width: 55%;
  color: white;
  font-weight: 500;
  opacity: 0.9;
  font-size: 1.6sem;
}

.input-text {
  flex-direction: column;
}
.input-text input {
  width: 150%;
  padding: 1em;
  border-radius: 0.3em;
  border: none;
  margin: 1em 0;
}

.btn50 {
  width: 50%;
  padding: 1em;
}

/* Footer */

.gap1 {
  gap: 1em;
  margin: 2em 0;
}

footer {
  background-color: #07043b;
  color: white;
  padding: 6em 4em;
  align-items: center;
}

.footer-content-2 {
  font-size: 1.3em;
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin: 4em 0;
  align-items: flex-start;
}

/* Responsive */

@media screen and (max-width: 578px) {
  /* Header */
  .header-content {
    grid-template-columns: 1fr;
    gap: 8em;
    margin: 4em 4em;
  }
  .p-header {
    text-align: center;
    margin: 0 auto;
  }
  .heading-primary {
    text-align: center;
  }
  .get-started {
    display: grid;
  }
  .get-started input {
    width: 100%;
  }
  .get-started button {
    width: 100%;
    padding: 1em;
  }
  .logo {
    width: 30%;
  }
  .nav-items {
    gap: 1em;
  }

  /* Main */
  .main-content-1 {
    grid-template-columns: 1fr;
  }

  .main-content-1-text {
    margin: 4em;
  }
  .main-content-1-text h1 {
    font-size: 1.5em;
    max-width: 100%;
  }
  .main-content-1 img {
    grid-row: 1;
  }
  .p-text {
    max-width: 100%;
    font-size: 1.3em;
  }
  .section-quotes {
    max-width: 100%;
  }
  .p-quotes {
    font-size: 1.4em;
    text-align: start;
  }
  .quotes-owner {
    margin-top: 2em;
  }
  .main-content-2 {
    grid-template-columns: 1fr;
  }
  .test h2 {
    text-align: center;
    margin: 1em auto;
  }
  .test p {
    text-align: center;
    margin: 0 auto;
    max-width: 100%;
  }
  .input-text {
    justify-content: center;
    align-items: center;
    margin: 1em auto;
  }
  .input-text input {
    max-width: 100%;
  }
  .input-text button {
    max-width: 100%;
    width: 100%;
  }

  /* Footer */
  .grid-3 {
    grid-template-columns: 1fr;
  }
}
